<!DOCTYPE html>
<html lang="en" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>OA主页</title>
    <script src="jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body >
<h1>OA系统</h1>
<h1>欢迎：</h1>
<div id="dv1">
    <h1 id="h1"></h1>
    <h2>{{phone}}</h2>
    <h3><a href="javascript:loginout();">退出</a> </h3>
</div>
<div id="dv2">
    <ul>
        <!--<li v-for="u in users">-->
            <!--{{ u.username }}-->
        <!--</li>-->
    </ul>
</div>
<script type="application/javascript">
    // var app1=new Vue({
    //     el:"#dv1",
    //     data:{
    //         username:"a",
    //         phone:"b"
    //     }
    // });
    $(function () {
        var token=getCK("userauth");
        if(token.length==0){
            //没有令牌
            //alert("没有令牌");
            location.href="login.html";
        }else{
            console.log(token);
            $.ajax({
                url:"http://localhost:8081/usercheck.do",
                method:"get",
                xhrFields: {withCredentials: true},
                success:function (obj) {
                    console.log("数据："+obj);
                    if(obj.code==0){
                        $("#h1").html(obj.data.username)
                       // app1.username=obj.data.username;
                       // app1.phone=obj.data.phone;
                    }else{
                        alert("获取登录用户："+obj.msg);
                    }
                }
            })
        }
        // }
        loadData();
    })
    //获取Cookie
    function getCK(name) {
        var cks1=document.cookie;
        var arrc1=cks1.split(";");
        for(i=0;i<arrc1.length;i++){
            var ck1=arrc1[i];
            var arrc2=ck1.split("=");
            if(arrc2[0]==name){
                return arrc2[1];
            }
        }
        return "";
    }
    // var app4 = new Vue({
    //     el: '#dv2',
    //     data: {
    //         todos:[]
    //     }
    // })
    function loadData() {
        $.get("http://localhost:8081/users.do",null,function (arr) {
            console.log("数组："+arr)
            // app4.todos=arr;
        })

    }
    function loginout() {
        $.ajax({
            url:"http://localhost:8081/userout.do",
            method:"get",
            xhrFields: {withCredentials: true},
            success:function (obj) {
                alert("注销成功");
            }
        })
    }
</script>
</body>
</html>