<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.admin.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.domain.admin.SysRoleMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, menu_id
  </sql>
  <insert id="insert" parameterType="com.qfedu.domain.admin.SysRoleMenu" >
    insert into sys_role_menu (id, role_id, menu_id )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.domain.admin.SysRoleMenu" >
    update sys_role_menu
    set role_id = #{roleId,jdbcType=BIGINT},
      menu_id = #{menuId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryMenuIdList" resultType="long">
    select menu_id from sys_role_menu where role_id=#{rid}
  </select>
  <delete id="deleteByMenuIds">
    delete from sys_role_menu where menu_id in
    <foreach collection="array" open="(" close=")" separator="," item="mid">
      #{mid}
    </foreach>
  </delete>
  <delete id="deleteByRoleIds">
    delete from sys_role_menu where role_id in
    <foreach collection="array" open="(" close=")" separator="," item="mid">
      #{mid}
    </foreach>
  </delete>
  <delete id="deleteByRoleId">
    delete from sys_role_menu where role_id =#{rid}
  </delete>


</mapper>