<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.mapper.admin.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.domain.admin.SysUserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="bcl" >
    id, user_id, role_id
  </sql>
  <insert id="insert" parameterType="com.qfedu.domain.admin.SysUserRole" >
    insert into sys_user_role (id, user_id, role_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="bcl" />
    from sys_user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.domain.admin.SysUserRole" >
    update sys_user_role
    set user_id = #{userId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryRoleIdList" resultType="long">
    select role_id from sys_user_role where user_id=#{userId}
  </select>
  <delete id="deleteByUserId">
    delete from sys_user_role where user_id=#{userId}
  </delete>
  <delete id="deleteByUserIds">
    delete from sys_user_role where user_id in
    <foreach collection="array" item="uid" open="(" close=")" separator=",">
      #{uid}
    </foreach>
  </delete>
  <delete id="deleteByRoleIds">
    delete from sys_user_role where role_id in
    <foreach collection="array" item="rid" open="(" close=")" separator=",">
      #{rid}
    </foreach>
  </delete>
</mapper>