<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1、设置服务名称-->
    <dubbo:application name="ssoprovider"></dubbo:application>
    <!--2、设置注册中心-->
    <dubbo:registry address="${zk.ip}" protocol="zookeeper" check="false"></dubbo:registry>
    <!--3、注册协议-->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <!--4、发布服务-->
    <dubbo:service interface="com.qfedu.sso.service.UserService" ref="userProvider" version="1.0" timeout="2000"></dubbo:service>
</beans>