<?xml version="1.0" encoding="UTF-8"?>
<!--spring 的配置 约束文件用到哪个引入哪个 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd">


	<!--加载配置文件-->
	<context:property-placeholder location="classpath:config/esconfig.properties"></context:property-placeholder>
	<!--配置客户端-->
	<elasticsearch:transport-client id="client" cluster-name="${esclustername}" cluster-nodes="${esnodes}"></elasticsearch:transport-client>
	<!---->
	<bean id="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client"></constructor-arg>
	</bean>
	<!-- 扫描Spring Data包  自动创建实现 -->
	<elasticsearch:repositories base-package="com.qfedu.repository" />

	<!--扫描Service-->
	<context:component-scan base-package="com.qfedu.service"></context:component-scan>
</beans>